.content {
    /* border: 2px solid black; */

    width: 90vw;
    /* width: auto; */
    margin: auto;
    margin-top: 18%;
    display: grid;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1em;
}

.content--h2 {
    font-size: 3em;
    grid-column-start: 1;
    grid-column-end: 4;
}

.content--btn {
    grid-column-start: 4;
    background: none;
    padding: .5em;
}

.content--btn:hover{
    background: black;
    color:white;
}
@media screen and ((min-width: 1020px) and (max-width: 1200px)) {
    .content {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        gap:.5em;
    }

    .content--h2 {
        font-size: 2em;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content--btn {
        grid-column-start: 3;
    }
}

@media screen and (max-width: 1130px) {
    .content {
        margin-top: 30%;
    }
}

@media screen and ((max-width: 1020px) and (min-width: 806px)){
    .content{
       /* border: 2px solid red; */
       grid-template-columns: repeat(2, auto);
       grid-template-rows: repeat(5, auto);
    }
    .content--h2 {
        font-size: 2em;
        grid-column-start:1;
        grid-column-end: 3;
        /* border: 2px solid violet; */
        text-align: center;
    }
    
    .content--btn {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;

        width: 250px;
        margin: auto;
        margin-top: 2%;
    }

}
@media screen and (max-width: 806px){
    .content{
       /* border: 2px solid red; */
       grid-template-columns: repeat(1, auto);
       grid-template-rows: repeat(10, auto);
    }
    .content--h2 {
        font-size: 2em;
        grid-column-start: auto;
        grid-column-end: auto;
        /* border: 2px solid violet; */
        text-align: center;
    }
    
    .content--btn {
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: 10;

        width: 250px;
        margin: auto;

    }

}
