.header__bg {
    background-image: url('../img/desktop/image-hero.jpg');
    min-height: 50vw;
    /* background-position: center center; */
    background-size: cover;
    display: flex;
    align-items: center;
    /* padding-left: 10%; */
    filter: grayscale(.3);
}

.header__bg--p {
    border: 2px solid hsl(0, 0%, 100%);
    width: 45vw;
    /* min-height: 230px; */

    font-family: 'Josefin Sans';
    color: hsl(0, 0%, 100%);
}


@media screen and (min-width: 1328px) {
    .header__bg {
        padding-left: 10%;
    }

    .header__bg--p {
        font-size: 4.5em;
        padding: 2%;
        padding-left: 3%;
    }
}

@media screen and ((min-width: 1200px) and (max-width: 1328px)) {
    .header__bg {
        padding-left: 10%;
    }

    .header__bg--p {
        font-size: 3.5em;
        padding: 2%;
        padding-left: 3%;
    }
}

@media screen and (max-width: 1200px) {
    .header__bg {
        padding-left: 5%;
    }

    .header__bg--p {
        font-size: 2.5em;
        padding: 2%;
        padding-left: 3%;
    }
}

@media screen and (((min-width: 768px) and (max-width: 992px))) {
    .header__bg{
        background-image: url('../img/mobile/image-hero.jpg');
        background-position: center center;
        min-height: 80vh;

    }
    .header__bg--p {
        font-size: 4em;
        padding: 5%;
        padding-left: 7%;
        margin: auto;
        min-width: 80vw;
    }
}

@media screen and (((min-width: 480px) and (max-width: 768px))) {
    .header__bg{
        background-image: url('../img/mobile/image-hero.jpg');
        background-position: center center;
        min-height: 80vh;

    }
    .header__bg--p {
        font-size: 3em;
        padding: 5%;
        padding-left: 7%;
        margin: auto;
        min-width: 80vw;
    }
}

@media screen and (max-width: 480px) {
    .header__bg{
        background-image: url('../img/mobile/image-hero.jpg');
        background-position: center center;
        min-height: 80vh;

    }
    .header__bg--p {
        font-size: 2em;
        padding: 5%;
        padding-left: 7%;
        margin: auto;
        min-width: 80vw;
    }
}