
.cardBody{

    position: relative;
    width: 255px;
    margin: 1em;
    margin-bottom: 50px;
    
    min-height: 25vh;
    background-size: "cover";
    background-position: "center";
    transition: all .5s;
}

.cardBody:hover{
    cursor: pointer;
    /* opacity: .3; */
}


.cardBody__content{
    /* border:2px solid white; */
    width: 100%;
    min-height: 100%;

    position: relative;
}

.cardBody__content--img:hover{
    /* filter: grayscale(2); */
    opacity: .3;
    background-color: rgba(255, 255, 247, 0.633);
}

.cardBody__content--p{
    /* border: 2px solid darkblue; */
    width: 150px;
    font-family: 'Josefin Sans';
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 0;
    left: 20px;
}

.cardBody__content:hover .cardBody__content--p{
    /* opacity: 5; */
    color: hsl(0, 0%, 0%);
    font-weight: 600;
}

@media screen and ((max-width: 480px) or (max-width: 980px)){
    .cardBody{
        margin: 20px;
        width: 90vw;
        min-height: auto;

    }

    .cardBody__content--img{
        width: 90vw;
    }

    .cardBody__content{
        min-height: auto;
    }

}

@media screen and (max-width: 1024px) {
    .cardBody{
        width: 25vw;
        margin: 1em;
        background-size: "cover";
        background-position: "center";
        /* background-repeat: "no-repeat"; */
        transition: all .5s;
    }
    
}