
.cardBody{
    /* width: 260px; */
    width: auto;
    margin: auto;
    position: relative;
    background-size: "cover";
    background-position: "center";
    transition: all .5s;
}

.cardBody:hover{
    cursor: pointer;
}


.cardBody__content{
    /* width: 260px; */
    width: auto;
}

.cardBody__content--img{
    width: 330px;
}

.cardBody__content--img:hover{
    opacity: .3;
    background-color: rgba(255, 255, 247, 0.633);
}

.cardBody__content--p{
    font-family: 'Josefin Sans';
    width: 130px;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.cardBody__content:hover .cardBody__content--p{
    color: hsl(0, 0%, 0%);
    font-weight: 600;
}

@media screen and (max-width: 1520px) {

    .cardBody__content--img{
        width: 300px;
    }
}

@media screen and ((min-width: 1392px) and ((max-width: 1520px))) {

    .cardBody__content--img{
        width: 270px;
    }
}

@media screen and ((min-width: 1200px) and (max-width: 1392px)) {

    .cardBody__content--img{
        width: 230px;
    }
}

@media screen and (max-width: 1020px){
    .cardBody__content--img{
        width: 350px;
    }
}

/* @media screen and (max-width: 804px){
    .cardBody__content--img{
        width: 250px;
    }
} */

@media screen and (max-width: 992px){
    .cardBody__content--img{
        width: 330px;
    }
}


