.topNav--button {
    border: none;
    background: none;
}

.topNav {
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    width: 100vw;
    /* arriba izq abajo der */
    display: flex;
    justify-content: space-between;

}

.nav__list {
    display: flex;
    list-style: none;
}

.topNav--button {
    display: none;
}

.nav__list--item {
    padding: .5em;
}

.nav__list--item:hover {
    cursor: pointer;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    padding-bottom: 5px;
}

.activeScroll{
    background: black;
    transition: all .5s;
}

@media screen and (min-width: 1200px) {
    .topNav {
        padding: 2em 10% 1em 10%;

        /* position: fixed; */
        /* z-index: 100; */
    }
}

@media screen and ((min-width: 992px) and (max-width: 1200px)) {
    .topNav {
        padding: 1.5em 5% 1em 5%;

        /* position: fixed; */
        /* z-index: 100; */
    }
}

@media screen and (((min-width: 320px) and (max-width: 992px))) {
    .topNav {

        padding: 1.5em 5% 1em 5%;
    }

    .svg {
        fill: white;
    }

    /* .contentNav {
        flex-direction: column;
    } */

    .topNav--button {
        display: block;
    }

    .nav__list {
        /* para cuando sea resposivo */
        display: none;
    }

    .nav__list.desplegar {
        display: block;

        flex-direction: column;
        position: absolute;
        margin-top: 1em;
        left: 0;
        padding: 5%;
        background: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        transition: all .2 ease;
    }

    .topNav.active {
        /* resposivo */
        color: white;
        background: rgb(0, 0, 0);
    }

    .activeScroll {
        background: black;
        transition: all .5s;
    }
}
